@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  font-family: 'Source Sans 3',sans-serif;
  scroll-behavior: smooth;
}

code {
  font-family: 'Source Sans 3',sans-serif;
}

* {
  font-family: 'Source Sans 3',sans-serif;
  scroll-behavior: smooth;
}


.ProductContainer {
  font-size: 12px;
  margin-bottom: 1rem;
  width: 59%
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center   ;   
}
.Items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.ProductItem {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  width: 13rem;
  min-height: 16rem;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
}

.ProductItem:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.ProductImage {
  height: 60% !important;
  width: 100%;
  object-fit: cover !important;

}

.Storebtn {
  display: flex;
  height: 2.3rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgb(0,172,36);
  background: linear-gradient(90deg, rgba(0,172,36,1) 74%, rgba(5,125,30,1) 100%);

  width: 59%;
  color: white;
  gap: 0.5rem;
  font-weight: 600;
}

.Storebtn:hover {
  cursor: pointer;
}

.Storebtn img {
  height: 1.5rem;
  width: 1.5rem;
  filter: brightness(0) invert(1);
}

.ProductInfo {
  box-sizing: border-box;
  height: 40%;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ProductInfo h1{
  font-weight:bold;
}


.ProductInfo h2 {
  color: #00ac24;
}


.Footer {
  margin-top: 5rem;
  width: 100%;
  height: 4.5rem;
  color: white;
  font-size: 12px;
  background: rgb(0,172,36);
  background: linear-gradient(180deg, rgba(0,172,36,1) 0%, rgba(5,125,30,1) 100%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Itembar {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: none;
  background: rgb(244,243,243);
  background: linear-gradient(180deg, rgba(244,243,243,1) 0%, rgba(255,255,255,1) 45%);
  position: sticky;
  top: 5rem;
}

.Itembar ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 59%;
  box-sizing: border-box;
  font-size: 13px;
  height: 2.5rem;
  gap: 1rem;
  justify-content: flex-start;
}

.Itembar ul li{
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-weight: 550;
  min-width: 5.7rem;
  padding-top: 7px;
}

.Itembar ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
 }

.Itembar ul li:hover{
  color:  #00ac24 !important;
  cursor: pointer; 
  border-bottom: 3px solid #00ac24;
}

.Itembar ul li:hover a{
  color:  #00ac24 !important;
}

.linkactive {
  border-bottom: 3px solid #00ac24;
}

.linkactive a {
  color:  #00ac24 !important;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
  position: sticky;
  top: 0px;
  background-color: white;
}

.Navbar div {
  display: flex;
  align-items: center;
  width: 59%;
}

.Navbar div div{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.right {
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0 !important;
}

.ToTop {
  font-size: 15px;
  text-align: right;
  padding-right: 10rem;
}

.ToTop a {
  text-decoration: none;
  color:  #00ac24;
  font-weight: bold;
}

.Status {
  height: 7.7rem;
}

.NavLogo {
  height: 4rem;
}

.Navbar p {
  cursor: pointer;
  font-weight: bold;
  color: rgb(69 141 65);
}

.IconText {
  display: flex;
  flex-direction: row;
  width: 5.5rem!important;
  justify-content: flex-end;
  gap: none;
}

.IconText Img {
  height: 2rem;
  width: 2rem;
  margin-right: -0.5rem;
  object-fit: cover;
  cursor: pointer;
}

.IconText p {
  cursor: pointer;
  font-weight: bold;
  color: lightgray;
}

.Sign.In {
  color: #00ac24;
  font-weight: bold;
}

.NavSearch {
  cursor: pointer;
}